
@{
    ViewBag.Title = "AddUpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<EmployeeDomainModel>
<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="~/Dashboard/Welcome">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Add/Update User</a>
                <i class="fa fa-circle"></i>
            </li>
            @*<li>
                    <span>Page Layouts</span>
                </li>*@
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Add / Update User
        @*<small>blank page layout</small>*@
    </h1>
    <!-- END PAGE TITLE-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">User Details</span>
                    </div>
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="actions actions-padding">
                            <div class="action-inline">
                                <label for="ddlArchived" class="control-label">Employee Type</label>
                                <select id="ddlArchived" class="form-control">
                                    <option value="false" selected>Non Archive</option>
                                    <option value="true">Archive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-sm green table-group-action-submit pull-right" href="~/Management/AddEmployee">
                        <i class="fa fa-plus"></i> Add Employee
                    </a>
                </div>
                <div class="portlet-body dv_UserTableContainer">
                    @Html.Action("_AddUpdateUser", "Management")
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).on('ready', function () {
        $('#tbl_User').DataTable({         
        });
        $(document).on('change', '#ddlArchived', function () {
            var _this = $(this);
            var Archived = _this.val();
            if (typeof Archived != 'undefined') {
                $.ajax({
                    type: "GET",
                    url: "/Management/_AddUpdateUser?Archived=" + Archived,
                    //data: { sortBy: sortByval },
                    contentType: "application/text; charset=utf-8",
                    dataType: "text",
                    async: false,
                    success: function (response) {
                        $('.dv_UserTableContainer').html(response);
                        $('#tbl_User').DataTable({
                            "scrollX": false,
                        });
                    },
                    failure: function (msg) {
                        html = false;
                    }
                });
            }
        });
    });
    function ActivateDeactivateDepartment(UserId, IsActive) {
        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "/api/Management/ActivateDeactivateUser?UserId=" + UserId + "&IsActive=" + IsActive,
            success: function (response) {
                if (response.isSuccess == true) {
                    if (IsActive == false) {
                        $("#StatusActiveLink_" + UserId).remove();
                        $("#StatusActive_" + UserId).append('<a id="StatusActiveLink_' + UserId + '" href="#" onclick="ActivateDeactivateDepartment(' + UserId + ', true)"><img alt="In Active" src="/assets/global/img/Guiimages/InActive.png" width="30px" height="30px"/></a>');
                    }
                    else {
                        $("#StatusActiveLink_" + UserId).remove();
                        $("#StatusActive_" + UserId).append('<a id="StatusActiveLink_' + UserId + '" href="#" onclick="ActivateDeactivateDepartment(' + UserId + ', false)"><img alt="Active" src="/assets/global/img/Guiimages/Active.png" width="30px" height="30px"/></a>');
                    }
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function DeleteDepartment(param) {
        $(".dvAlert").hide();
        $("#lblMessage").html("");
        var UserId = param;
        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "/api/Management/DeleteUserById?UserId=" + UserId,
            beforeSend: function () {
                $(".lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                if (response.isSuccess == true) {
                    $("#row_" + UserId).remove();
                    $("#lblMessage").html("User deleted successfully");
                    $(".dvAlert").show();
                }
                else {
                    $("#lblMessage").html(response.response);
                    $(".dvAlert").show();
                }
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    }
</script>
