
@{
    ViewBag.Title = "DailystatusReportDetailsByEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TaskManagementOsvin.Security;
@using TaskManagementOsvin.Models;
@model List<EmployeeDomainModel>
<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="~/Dashboard/Welcome">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Daily Status Report Details By Employee</a>
                <i class="fa fa-circle"></i>
            </li>
            @*<li>
                    <span>Page Layouts</span>
                </li>*@
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Daily Status Report Details By Employee
        @*<small>blank page layout</small>*@
    </h1>
    <!-- END PAGE TITLE-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Daily Status Report Details By Employee</span>
                    </div>
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="actions actions-padding">
                            <div class="action-inline">
                                <label class="control-label">Start Date</label>
                                <input type="text" class="datepicker" placeholder="Start Date" id="txtStartDate" />
                                <label class="control-label">End Date</label>
                                <input type="text" class="datepicker" placeholder="End Date" id="txtEndDate" />
                            </div>
                            <div class="action-inline">
                                <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body dvEmployeeDailyStatusReportContainer">
                    @Html.Action("_DailystatusReportDetailsByEmployee", "EmployeeDailyStatusReport")
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).on('ready', function () {
        var table = $('#sample_3').DataTable();
        table.state.clear();
        table.destroy();
        TableDatatablesFixedHeader.init();        
    });
    $("#btnSearch").click(function () {
        var StartDate = $("#txtStartDate").val();
        var EndDate = $("#txtEndDate").val();
        if (StartDate == null || StartDate == "undefined") {
            StartDate = "";
        }
        if (EndDate == null || EndDate == "undefined")
        {
            EndDate = "";
        }
        $.ajax({
            type: "GET",
            url: "/EmployeeDailyStatusReport/_DailystatusReportDetailsByEmployee?StartDate=" + StartDate + "&EndDate=" + EndDate,
            //data: { sortBy: sortByval },
            contentType: "application/text; charset=utf-8",
            dataType: "text",
            success: function (response) {
                $('.dvEmployeeDailyStatusReportContainer').html(response);
                var table = $('#sample_3').DataTable();
                table.state.clear();
                table.destroy();
                TableDatatablesFixedHeader.init();
            },
            failure: function (msg) {
            }
        });
    });
</script>