
@model List<FeedbackDomainModel>
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Project FeedBack Details</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-header-fixed">
                        <thead>
                            <tr class="">
                                <th class="text-center"> User Name </th>
                                <th class="text-center"> Description </th>
                                <th class="text-center"> Feed </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var feedback in @Model)
                            {
                                <tr>
                                    <td class="text-center"> @feedback.Name </td>
                                    <td class="text-center"> @feedback.Description </td>
                                    <td class="text-center"> @feedback.Feed </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

