
@{
    ViewBag.Title = "Project Task Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="~/Dashboard/Welcome">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Project Task Categories</a>
                <i class="fa fa-circle"></i>
            </li>
            @*<li>
                    <span>Page Layouts</span>
                </li>*@
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Add / Update Project Task Categories
        @*<small>blank page layout</small>*@
    </h1>
    <!-- END PAGE TITLE-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Project Task Categories</span>
                    </div>
                    <a class="btn btn-sm green table-group-action-submit pull-right" href="#" id="btnAddFeedback">
                        <i class="fa fa-plus"></i> Add Project Task Category
                    </a>
                </div>
                <div class="portlet-body">
                    <div class="alert alert-success dvAlert @ViewBag.Class">
                        <a class="close" onclick="$('.alert').hide()">×</a>
                        <span id="lblMessage"> @ViewBag.Message </span>
                    </div>
                    <div class="row" id="dvAddProjectTaskCategory" style="display:none">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <input type="hidden" id="hdnCategoryId" />
                                        <label class="control-label col-md-4">
                                            Department
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("ddlDepartment", ViewBag.listDepartments as SelectList, "Select Department", new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="hdnCategoryId" />
                                        <label class="control-label col-md-4">
                                            Project Task Category Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input tye="text" class="form-control" id="txtProjectTaskCategory" placeholder="Enter Project Task Category"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Status
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select id="ddlStatus" class="form-control">
                                                <option value>Please Select</option>
                                                <option value="1">True</option>
                                                <option value="0">False</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <button type="button" class="btn green" id="btnAdd">Add</button>
                                            <button type="button" class="btn green" id="btnUpdate" style="display:none">Update</button>
                                            <button type="button" class="btn red" id="btnCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" id="dvProjectCategoryDetails">
                        @Html.Action("_ProjectTaskCategories", "Project")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--AddUpdate modal -->
<script type="text/javascript">
    jQuery(document).on('ready', function () {
        var table = $('#tbl_ProjectReportCategory').DataTable();
        table.state.clear();
        table.destroy();
       $('#tbl_ProjectReportCategory').DataTable({
            "bStateSave": true,
        });
    });
    function DeleteProjectReportCategory(CategoryId) {
        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "/Project/DeleteProjectReportCategory?CategoryId=" + CategoryId,
            success: function (response) {
                $('#dvProjectCategoryDetails').html(response);
                $('#tbl_ProjectReportCategory').DataTable({
                    "bStateSave": true,
                    "fnStateSave": function (oSettings, oData) {
                        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                    },
                    "fnStateLoad": function (oSettings) {
                        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                        return JSON.parse(data);
                    }
                });
                $("#lblMessage").html("Category deleted successfully");
                $(".dvAlert").show();
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again.");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    }
    function ActivateDeactivateProjectReportCategory(CategoryId, IsActive) {
        $(".dvAlert").hide();
        $("#lblMessage").html("");
        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "/Project/ActivateDeactivateProjectReportCategory?CategoryId=" + CategoryId + "&IsActive=" + IsActive,
            success: function (response) {
                $('#dvProjectCategoryDetails').html(response);
                $('#tbl_ProjectReportCategory').DataTable({
                    "bStateSave": true,
                    "fnStateSave": function (oSettings, oData) {
                        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                    },
                    "fnStateLoad": function (oSettings) {
                        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                        return JSON.parse(data);
                    }
                });
                //if (response.isSuccess == true) {
                //    if (IsActive == false) {
                //        $("#StatusActiveLink_" + CategoryId).remove();
                //        $("#StatusActive_" + CategoryId).append('<a title="InActive" id="StatusActiveLink_' + CategoryId + '" href="#" onclick="ActivateDeactivateProjectReportCategory(' + CategoryId + ', true)"><img alt="In Active" src="/assets/global/img/Guiimages/InActive.png" width="30px" height="30px"/></a>');
                //    }
                //    else {
                //        $("#StatusActiveLink_" + CategoryId).remove();
                //        $("#StatusActive_" + CategoryId).append('<a title="Active" id="StatusActiveLink_' + CategoryId + '" href="#" onclick="ActivateDeactivateProjectReportCategory(' + CategoryId + ', false)"><img alt="Active" src="/assets/global/img/Guiimages/Active.png" width="30px" height="30px"/></a>');
                //    }
                //}
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    $("#btnAdd").click(function () {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        var IsValid = true;
        var DepartmentId = $("#ddlDepartment").val();
        var CategoryName = $("#txtProjectTaskCategory").val();
        var Status = $('#ddlStatus').val();

        if (DepartmentId == null || DepartmentId <= 0) {
            $('#ddlDepartment').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#ddlDepartment').css('border-color', '');
        }
       
        if (CategoryName == null || CategoryName == "") {
            $('#txtProjectTaskCategory').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#txtProjectTaskCategory').css('border-color', '');
        }       
        if (Status == null ||Status=="") {
            $('#ddlStatus').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#ddlStatus').css('border-color', '');
        }
        if (IsValid == false) {
            return false;
        }
        var model = {
            DepartmentId: DepartmentId,
            CategoryName: CategoryName,
            IsActive: Status == 1 ? true : false
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Project/AddUpateProjectTaskCategories",
            data: JSON.stringify(model),
            beforeSend: function () {
                $("#lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                $('#dvProjectCategoryDetails').html(response);
                $('#tbl_ProjectReportCategory').DataTable({
                    "bStateSave": true,
                    "fnStateSave": function (oSettings, oData) {
                        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                    },
                    "fnStateLoad": function (oSettings) {
                        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                        return JSON.parse(data);
                    }
                });
                $("#lblMessage").html("Category added successfully");
                $(".dvAlert").show();
                ClearFields();

            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    });
    function EditProjectReportCategory(Category) {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        $("#dvAddProjectTaskCategory").show();
        $("#hdnCategoryId").val(Category.CategoryId);
        $("#ddlDepartment").val(Category.DepartmentId);
        $("#txtProjectTaskCategory").val(Category.CategoryName);
        $("#ddlStatus").val(Category.IsActive == true ? 1 : 0);
        $("#btnAdd").hide();
        $("#btnUpdate").show();
    }
    $("#btnUpdate").click(function () {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        var IsValid = true;
        var DepartmentId = $("#ddlDepartment").val();
        var CategoryName = $("#txtProjectTaskCategory").val();
        var Status = $('#ddlStatus').val();

        if (DepartmentId == null || DepartmentId <= 0) {
            $('#ddlDepartment').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#ddlDepartment').css('border-color', '');
        }
       
        if (CategoryName == null || CategoryName == "") {
            $('#txtProjectTaskCategory').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#txtProjectTaskCategory').css('border-color', '');
        }
        
        if (Status == null || Status == "") {
            $('#ddlStatus').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#ddlStatus').css('border-color', '');
        }
        if (IsValid == false) {
            return false;
        }
        var model = {
            CategoryId: $("#hdnCategoryId").val(),
            DepartmentId: DepartmentId,
            CategoryName: CategoryName,
            IsActive: Status == 1 ? true : false
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Project/AddUpateProjectTaskCategories",
            data: JSON.stringify(model),
            beforeSend: function () {
                $("#lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                $('#dvProjectCategoryDetails').html(response);
                $('#tbl_ProjectReportCategory').DataTable({
                    "bStateSave": true,
                    "fnStateSave": function (oSettings, oData) {
                        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                    },
                    "fnStateLoad": function (oSettings) {
                        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                        return JSON.parse(data);
                    }
                });
                $("#lblMessage").html("Category updated successfully");
                $(".dvAlert").show();
                $("#btnUpdate").hide();
                $("#btnAdd").show();
                ClearFields();
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    });
    $("#btnAddFeedback").click(function () {
        $("#dvAddProjectTaskCategory").show();
        $("#btnAdd").show();
        $("#btnUpdate").hide();
    });
    $("#btnCancel").click(function () {
        $("#dvAddProjectTaskCategory").hide();
        ClearFields();
    });
    function ClearFields() {
        $("#ddlDepartment").val('');
        $("#txtProjectTaskCategory").val('');
        $('#ddlStatus').val('');
    }
</script>
