
@{
    ViewBag.Title = "ReportIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TaskManagementOsvin.Security;
@using TaskManagementOsvin.Models;
<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="~/Dashboard/Welcome">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">ReportIssue</a>
                <i class="fa fa-circle"></i>
            </li>
            @*<li>
                    <span>Page Layouts</span>
                </li>*@
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Report Issue
        @*<small>blank page layout</small>*@
    </h1>
    <!-- END PAGE TITLE-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Add/ Update Issue</span>
                    </div>
                    @if (UserManager.user.roleType != roleTypeModel.NetworkAdmin)
                    {
                        <a class="btn btn-sm green table-group-action-submit pull-right" href="#" id="btnAddNewIssue">
                            <i class="fa fa-plus"></i> Add New Issue
                        </a>
                    }
                </div>
                <div class="portlet-body">
                    <div class="alert alert-success dvAlert @ViewBag.Class">
                        <a class="close" onclick="$('.alert').hide()">×</a>
                        <span id="lblMessage"> @ViewBag.Message </span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-2 col-sm-3">
                                <div class="actions actions-padding">
                                    <div>
                                        <label for="ddlStatus" class="control-label">Status</label>
                                        <select id="ddlStatus" class="form-control">
                                            <option value="0">-- SELECT --</option>
                                            <option value="Open">Open</option>
                                            <option value="On Hold">On Hold</option>
                                            <option value="InProgress">InProgress</option>
                                            <option value="Closed">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="actions actions-padding">
                                    <div>
                                        <label for="ddlRead" class="control-label">IsRead</label>
                                        <select id="ddlRead" class="form-control">
                                            <option value="0">-- SELECT --</option>
                                            <option value="Read">Read</option>
                                            <option value="UnRead">UnRead</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="actions actions-padding">
                                    <div class="action-inline">
                                        <label for="ddlRead" class="control-label">.</label>
                                        <a class="btn btn-sm green table-group-action-submit form-control" href="#" id="btnSearch">
                                            <i class="fa fa-search"></i> Search
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="dvAddNewIssue" style="display:none">
                        <hr />
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-body">
                                    <input type="hidden" id="hdnReportId" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Subject
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input tye="text" class="form-control" id="txtIssueSubject" placeholder="Enter Issue Subject" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Issue Description
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input tye="text" class="form-control" id="txtIssueDescription" placeholder="Enter Issue Description" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4">
                                            Priority
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select id="ddlPriority" class="form-control">
                                                <option value="0">-- SELECT --</option>
                                                <option value="Highest">Highest</option>
                                                <option value="High">High</option>
                                                <option value="Normal">Normal</option>
                                                <option value="Low">Low</option>
                                                <option value="Lowest">Lowest</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <button type="button" class="btn green" id="btnAdd">Add Issue</button>
                                            <button type="button" class="btn green" id="btnUpdate" style="display:none">Update</button>
                                            <button type="button" class="btn red" id="btnCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="row" id="dvIssuesDetails">
                        @Html.Action("_ReportIssue", "NetworkIssues")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="IssueDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" id="btncloseissuedesc" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel1">Issue Description</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="Issuelabel">Employee Name</label>
                        <p class="no-margin" id="empname"></p>
                    </div>
                    <div class="form-group">
                        <label class="Issuelabel">Issue Description</label>
                        <p class="no-margin" id="issuedescription"></p>
                    </div>
                    <div class="form-group">
                        <label class="Issuelabel">Remark</label>
                        <p class="no-margin" id="remark"></p>
                    </div>
                    <div class="form-group">
                        <label class="Issuelabel">Status</label>
                        <p class="no-margin" id="issuestatus"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UpdateStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" id="btncloseupdateissue" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Issue Description</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="Issuelabel">Employee Name</label>
                        <p class="no-margin" id="empname2"></p>
                    </div>
                    <div class="form-group">
                        <label class="Issuelabel">Issue Description</label>
                        <p class="no-margin" id="issuedescription2"></p>
                    </div>
                    <div class="form-group">
                        <label class="Issuelabel">Remark</label>
                        <textarea id="txtRemark" class="form-control" placeholder="Enter Remark"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="Issuelabel">Status</label>
                        <select id="ddlstatus2" class="form-control" onchange="CheckStatus()">
                            <option value="0">-- SELECT --</option>
                            <option value="Open">Open</option>
                            <option value="On Hold">On Hold</option>
                            <option value="InProgress">InProgress</option>
                            <option value="Closed">Closed</option>
                        </select>
                        <span class="alert1 alert-error2" id="stmsg"></span>
                    </div>
                    <div class="col-sm-6 center-block" style="margin-left:26%;">
                        <input type="button" id="btnupdateissuestatus" value="Update Issue" class="btn btn-danger" />
                        <br />
                        <br />
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="RatingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelrating" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" id="btnfeedbackclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelrating">Rating</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="feedbackform">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Speed Of Solution :</label>
                        <div class="col-sm-8 feed1" id="div1" style="padding-top:7px;">
                            <input class="star {split:4} required" type="radio" name="test-1-rating-5" value="0.3" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="0.5" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="0.8" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="1" checked="checked" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="1.3" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="1.5" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="1.8" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="2" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="2.3" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="2.5" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="2.8" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="3" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="3.3" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="3.5" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="3.8" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="4" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="4.3" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="4.5" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="4.8" />
                            <input class="star {split:4}" type="radio" name="test-1-rating-5" value="5" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Communication :</label>
                        <div class="col-sm-8 feed1" id="div2" style="padding-top:7px;">
                            <input class="star {split:4} required" type="radio" name="test-2-rating-5" value="0.3" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="0.5" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="0.8" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="1" checked="checked" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="1.3" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="1.5" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="1.8" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="2" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="2.3" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="2.5" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="2.8" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="3" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="3.3" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="3.5" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="3.8" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="4" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="4.3" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="4.5" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="4.8" />
                            <input class="star {split:4}" type="radio" name="test-2-rating-5" value="5" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Quality :</label>
                        <div class="col-sm-8 feed1" id="div3" style="padding-top:7px;">
                            <input class="star {split:4} required" type="radio" name="test-3-rating-5" value="0.3" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="0.5" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="0.8" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="1" checked="checked" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="1.3" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="1.5" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="1.8" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="2" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="2.3" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="2.5" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="2.8" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="3" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="3.3" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="3.5" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="3.8" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="4" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="4.3" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="4.5" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="4.8" />
                            <input class="star {split:4}" type="radio" name="test-3-rating-5" value="5" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Availability :</label>
                        <div class="col-sm-8 feed1" id="div4" style="padding-top:7px;">
                            <input class="star {split:4} required" type="radio" name="test-4-rating-5" value="0.3" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="0.5" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="0.8" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="1" checked="checked" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="1.3" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="1.5" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="1.8" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="2" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="2.3" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="2.5" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="2.8" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="3" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="3.3" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="3.5" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="3.8" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="4" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="4.3" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="4.5" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="4.8" />
                            <input class="star {split:4}" type="radio" name="test-4-rating-5" value="5" />
                        </div>
                    </div>
                    <span class="alert1 alert-error2" id="stmsg1"></span>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnFinalRating">Rate It</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .Issuelabel {
        font-weight: bold !important;
    }

    .alert1 {
        padding: 8px 35px 8px 14px;
        /* margin-bottom: 18px; */
        margin: 0 auto;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        background-color: #fcf8e3;
        border: 1px solid #fbeed5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #c09853;
    }

    .alert-error2 {
        background-color: #f2dede !important;
        border-color: #eed3d7;
        color: #b94a48;
    }

    #stmsg {
        float: right;
        margin-top: 1em;
    }
</style>
<script src="~/assets/pages/scripts/jquery.MetaData.js"></script>
<link href="~/assets/pages/css/jquery.rating.css" rel="stylesheet" />
<script src="~/assets/pages/scripts/jquery.rating.js"></script>
<script type="text/javascript">
    //jQuery(document).on('ready', function () {
    //    var table = $('#tbl_Issues').DataTable();
    //    table.state.clear();
    //    table.destroy();
    //    $('#tbl_Issues').DataTable({
    //        "bStateSave": true,
    //    });
    //});

    $("#btnAdd").click(function () {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        var IsValid = true;
        var subject = $("#txtIssueSubject");
        if (subject.val() == null || subject.val() == "") {
            subject.css("border-color", "red");
            IsValid = false;
        }
        else {
            subject.css("border-color", "");
        }

        var IssueDescription = $("#txtIssueDescription");
        if (IssueDescription.val() == null || IssueDescription.val() == "") {
            IssueDescription.css("border-color", "red");
            IsValid = false;
        }
        else {
            IssueDescription.css("border-color", "");
        }

        var priority = $("#ddlPriority");
        if (priority.val() == "0") {
            priority.css("border-color", "red");
            IsValid = false;
        }
        else {
            priority.css("border-color", "");
        }
        if (!IsValid) {
            return false;
        }

        var model = {
            IssueSubject: subject.val(),
            IssueDescription: IssueDescription.val(),
            Priority: priority.val(),
            Remark: "",
            Status: "Open"
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/NetworkIssues/AddUpdateReportIssue",
            data: JSON.stringify(model),
            beforeSend: function () {
                $("#lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                $('#dvIssuesDetails').html(response);
                $("#lblMessage").html("Issue added successfully");
                $(".dvAlert").show();
                TableDatatablesFixedHeader.init();
                //$('#tbl_Issues').DataTable({
                //    "bStateSave": true,
                //    "fnStateSave": function (oSettings, oData) {
                //        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                //    },
                //    "fnStateLoad": function (oSettings) {
                //        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                //        return JSON.parse(data);
                //    }
                //});
                ClearFields();
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    });
    function EditIssue(Issue) {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        $("#dvAddNewIssue").show();
        $("#hdnReportId").val(Issue.ReportId);
        //$("#hdnArchived").val(Issue.Archived);
        $("#txtIssueSubject").val(Issue.IssueSubject);
        $("#txtIssueDescription").val(Issue.IssueDescription);
        $("#ddlPriority").val(Issue.Priority);
        $("#btnAdd").hide();
        $("#btnUpdate").show();
    }
    $("#btnUpdate").click(function () {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        var IsValid = true;
        var subject = $("#txtIssueSubject");
        if (subject.val() == null || subject.val() == "") {
            subject.css("border-color", "red");
            IsValid = false;
        }
        else {
            subject.css("border-color", "");
        }

        var IssueDescription = $("#txtIssueDescription");
        if (IssueDescription.val() == null || IssueDescription.val() == "") {
            IssueDescription.css("border-color", "red");
            IsValid = false;
        }
        else {
            IssueDescription.css("border-color", "");
        }

        var priority = $("#ddlPriority");
        if (priority.val() == "0") {
            priority.css("border-color", "red");
            IsValid = false;
        }
        else {
            priority.css("border-color", "");
        }
        if (!IsValid) {
            return false;
        }

        var model = {
            ReportId: $("#hdnReportId").val(),
            IssueSubject: subject.val(),
            IssueDescription: IssueDescription.val(),
            Priority: priority.val(),
            Remark: "",
            Status: "Open"
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/NetworkIssues/AddUpdateReportIssue",
            data: JSON.stringify(model),
            beforeSend: function () {
                $("#lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                $('#dvIssuesDetails').html(response);
                $("#lblMessage").html("Issue updated successfully");
                $(".dvAlert").show();
                $("#btnUpdate").hide();
                $("#btnAdd").show();
                TableDatatablesFixedHeader.init();
                //$('#tbl_Issues').DataTable({
                //    "bStateSave": true,
                //    "fnStateSave": function (oSettings, oData) {
                //        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                //    },
                //    "fnStateLoad": function (oSettings) {
                //        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                //        return JSON.parse(data);
                //    }
                //});
                ClearFields();
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    });
    $("#btnAddNewIssue").click(function () {
        $("#dvAddNewIssue").show();
        $("#btnAdd").show();
        $("#btnUpdate").hide();
    });
    $("#btnCancel").click(function () {
        $("#dvAddNewIssue").hide();
        ClearFields();
    });
    function ClearFields() {
        $("#txtIssueSubject").val('');
        $("#txtIssueDescription").val('');
        $("#ddlPriority").val(0);
        $("#txtIssueSubject").css("border-color", "");
        $("#txtIssueDescription").css("border-color", "");
        $("#ddlPriority").css("border-color", "");
        $("#ddlstatus2").css("border-color", "");
    }
    function ViewIssueDescription(ReportId, Role) {
        $.ajax({
            type: "GET",
            url: "/api/NetworkIssues/GetIssueDescription?ReportId=" + ReportId,
            contentType: "application/text; charset=utf-8",
            dataType: "text",
            async: false,
            success: function (response) {
                response = JSON.parse(response);
                $("#empname").html(response.EmployeeName);
                $("#issuedescription").html(response.IssueDescription);
                $("#remark").html(response.Remark);
                $("#issuestatus").html(response.Status);
            },
            failure: function (msg) {
                console.log(msg);
            }
        });
        $("#IssueDescriptionModal").modal('show');
    }
    function OpenUpdateStatusModel(ReportId) {
        $("#stmsg").hide();
        $("#stmsg").text("");
        $("#ddlstatus2").css('border-color', '');
        $("#hdnReportId").val(ReportId);
        $.ajax({
            type: "GET",
            url: "/api/NetworkIssues/GetIssueDescription?ReportId=" + ReportId,
            contentType: "application/text; charset=utf-8",
            dataType: "text",
            async: false,
            success: function (response) {
                response = JSON.parse(response);
                $("#empname2").html(response.EmployeeName);
                $("#issuedescription2").html(response.IssueDescription);
                $("#txtRemark").val(response.Remark);
                $("#ddlstatus2").val(response.Status);
            },
            failure: function (msg) {
                console.log(msg);
            }
        });
        $("#UpdateStatusModal").modal('show');
        $("#stmsg").hide();
    }
    function GetReportIssues(status, read) {
        var model = {
            Status: status,
            IsRead: read
        }
        $.ajax({
            type: "Post",
            contentType: "application/json; charset=utf-8",
            url: "/NetworkIssues/_ReportIssue",
            data: JSON.stringify(model),
            beforeSend: function () {
            },
            success: function (response) {
                $('#dvIssuesDetails').html(response);
                //$('#tbl_Issues').DataTable({
                //    "bStateSave": true,
                //    "fnStateSave": function (oSettings, oData) {
                //        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                //    },
                //    "fnStateLoad": function (oSettings) {
                //        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                //        return JSON.parse(data);
                //    }
                //});
                TableDatatablesFixedHeader.init();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function CheckStatus() {
        //debugger;
        var chkstatus = $("#ddlstatus2");
        if (chkstatus.val() != "Open") {
            $("#stmsg").hide();
            $("#stmsg").text("");
            chkstatus.css('border-color', '');
        }
    }
    $("#btnupdateissuestatus").click(function () {
        var IsValid = true;
        var status = $("#ddlstatus2");
        if (status.val() == "0") {
            status.css("border-color", "red");
            IsValid = false;
        }
        else if (status.val() == "Open") {
            status.css("border-color", "red");
            IsValid = false;
            $("#stmsg").show();
            $("#stmsg").text("You can not select Open status.");
        }
        else {
            status.css("border-color", "");
        }

        if (IsValid == false) {
            return false;
        }
        var model = {
            ReportId: $("#hdnReportId").val(),
            IssueSubject: "",
            IssueDescription: "",
            Priority: "",
            Remark: $("#txtRemark").val(),
            Status: status.val()
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/NetworkIssues/AddUpdateReportIssue",
            data: JSON.stringify(model),
            beforeSend: function () {
                $("#stmsg").show();
                $("#stmsg").text("Please wait...");
            },
            success: function (response) {
                $('#dvIssuesDetails').html(response);
                $("#stmsg").show();
                $("#stmsg").text("Issue Updated successfully.");
                TableDatatablesFixedHeader.init();
                //$('#tbl_Issues').DataTable({
                //    "bStateSave": true,
                //    "fnStateSave": function (oSettings, oData) {
                //        localStorage.setItem('DataTables_' + window.location.pathname, JSON.stringify(oData));
                //    },
                //    "fnStateLoad": function (oSettings) {
                //        var data = localStorage.getItem('DataTables_' + window.location.pathname);
                //        return JSON.parse(data);
                //    }
                //});
                ClearFields();
            },
            error: function (error) {
                $("#stmsg").show();
                $("#stmsg").text("Something went wrong, please try again");
                console.log(error);
            }
        });
    });
    $("#btncloseissuedesc").click(function () {
        GetReportIssues("", "");
    });
    $("#btncloseupdateissue").click(function () {
        GetReportIssues("", "");
    });
    $("#btnSearch").click(function () {
        var status = $("#ddlStatus").val();
        if (status == "0") {
            status = "";
        }
        var read = $("#ddlRead").val();
        if (read == "0") {
            read = "";
        }
        GetReportIssues(status, read);
    });
    function OpenRatingModal(ReportId, UserId) {
        $("#hdnReportId").val(ReportId);
        $("#stmsg1").hide();
        $("#stmsg1").text("");
        $.ajax({
            url: "/api/NetworkIssues/GetIssueFeedBack?ReportId="+ReportId,
            type: "GET",
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    if (response.SpeedOfSolution != null || response.Communication != null || response.Quality != null || response.Availability != null) {
                        $("#btnFinalRating").hide();
                    }
                    else {
                        if (response.UserId !=UserId ) {
                            $("#btnFinalRating").hide();
                        }
                        else {
                            $("#btnFinalRating").show();
                        }
                    }

                    $("#div1").children('input', this).each(function () {
                        if (response.SpeedOfSolution == null)
                        {
                            $('#div1 input:radio[value="' + 1 + '"]').attr('checked', 'checked');
                            $('#div1 input:radio[value="' + 1 + '"]').rating('select');
                        }
                        else if(response.SpeedOfSolution == this.value) {
                            //debugger;
                            $('#div1 input:radio[value="' + response.SpeedOfSolution + '"]').attr('checked', 'checked');
                            $('#div1 input:radio[value="' + response.SpeedOfSolution + '"]').rating('select');
                        }
                    });
                    $("#div2").children('input', this).each(function () {
                        if (response.Communication == null) {
                            $('#div2 input:radio[value="' + 1 + '"]').attr('checked', 'checked');
                            $('#div2 input:radio[value="' + 1 + '"]').rating('select');
                        }
                        else if (response.Communication == this.value) {
                            //debugger;
                            $('#div2 input:radio[value="' + response.Communication + '"]').attr('checked', 'checked');
                            $('#div2 input:radio[value="' + response.Communication + '"]').rating('select');
                        }
                    });
                    $("#div3").children('input', this).each(function () {
                        if (response.Quality == null) {
                            //debugger;
                            $('#div3 input:radio[value="' + 1 + '"]').attr('checked', 'checked');
                            $('#div3 input:radio[value="' + 1 + '"]').rating('select');
                        }
                        else if (response.Quality == this.value) {
                            //debugger;
                            $('#div3 input:radio[value="' + response.Quality + '"]').attr('checked', 'checked');
                            $('#div3 input:radio[value="' + response.Quality + '"]').rating('select');
                        }
                    });
                    $("#div4").children('input', this).each(function () {
                        if (response.Availability == null) {
                            //debugger;
                            $('#div4 input:radio[value="' + 1 + '"]').attr('checked', 'checked');
                            $('#div4 input:radio[value="' + 1 + '"]').rating('select');
                        }
                        else if (response.Availability == this.value) {
                            //debugger;
                            $('#div4 input:radio[value="' + response.Availability + '"]').attr('checked', 'checked');
                            $('#div4 input:radio[value="' + response.Availability + '"]').rating('select');
                        }
                    });
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
        $("#RatingModal").modal('show');
    }
    $("#btnFinalRating").click(function () {
        debugger
        var rating = "";
        var coun1 = 0;
        $('.feed1').each(function () {
            $('input', this).each(function () {
                if (this.checked) {
                    rating += this.value + ',';
                }
            });
        });
        rating = rating.substring(0, (rating.length - 1));

        $.ajax({
            url: "/api/NetworkIssues/ReportedIssueFeedBack?ReportId="+$("#hdnReportId").val()+"&RatingString="+rating,
            type: "get",
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#stmsg1").show();
                $("#stmsg1").text(response.response);
            },
            error: function (error) {
                console.log(error)
                $("#stmsg1").show();
                $("#stmsg1").text("Something went wrong, please try again.");
            }
        });
    });
  
</script>