@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin-left: 45px !important;
    }

    .page-header-fixed .page-container {
        margin-top: 0 !important;
    }
}

.actions-padding {
    padding: 6px 0 14px;
}

.action-inline {
    display: inline-block;
    padding-right:10px;
}
.form-padding{
    padding:20px!important;
}
.form-actions{
    padding: 20px!important;
    margin: 0!important;
    background-color: #f5f5f5!important;
    border-top: 1px solid #e7ecf1!important;
}
.dataTables_scrollBody
{
 overflow-x:hidden !important;
 overflow-y:auto !important;
}
.page-content {
    background: #eef1f5;
}