@using TaskManagementOsvin.Security;
@using TaskManagementOsvin.Models;
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Remove "hor-menu-light" class to have a horizontal menu with theme background instead of white background -->
        <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) in the responsive menu below along with sidebar menu. So the horizontal menu has 2 seperate versions -->
        <div class="hor-menu   hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <!-- DOC: Remove data-hover="megamenu-dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                <li class="classic-menu-dropdown active" aria-haspopup="true">
                    <a href="~/Dashboard/Welcome" style="margin-left:10px">
                        Home
                        <span class="selected"> </span>
                    </a>
                </li>
                @if (UserManager.user.roleType == roleTypeModel.Employee)
                {
                    
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            User
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Dashboard/ChangePassword">
                                    <i class="fa fa-puzzle-piece"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Project
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Project/ProjectList">
                                    <i class="fa fa-bookmark-o"></i> Project List
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Report
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/EmployeeDailyStatusReport/AddEmployeeDailyStatusReport">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Status Report
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/DailystatusReportDetailsByEmployee">
                                    <i class="fa fa-puzzle-piece"></i> Daily Status Report Details By Employee
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true">
                            Others
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 500px;">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Network & Hardware Issue</h3>
                                                </li>
                                                <li>
                                                    <a href="~/NetworkIssues/ReportIssue">Network & Hardware Issue</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Project Bug</h3>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/BugsList">Bugs List</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                }

                @if (UserManager.user.roleType == roleTypeModel.NetworkAdmin)
                {

                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            User
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Dashboard/ChangePassword">
                                    <i class="fa fa-puzzle-piece"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Project
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Project/AddUpdateProject">
                                    <i class="fa fa-user"></i> Add /Edit Project
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddProjectAddendumDetails">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Addendum
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/ProjectTaskCategories">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Project Task Category
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/PaymentRelease">
                                    <i class="fa fa-credit-card"></i> Add Payment
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Client
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Client/Clients">
                                    <i class="fa fa-bookmark-o"></i> Add /Edit Client
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Report
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/EmployeeDailyStatusReport/AddEmployeeDailyStatusReport">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Status Report
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true">
                            Others
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 500px;">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Network & Hardware Issue</h3>
                                                </li>
                                                <li>
                                                    <a href="~/NetworkIssues/ReportIssue">Network & Hardware Issue</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Project Bug</h3>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/BugsList">Bugs List</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                }

                @if (UserManager.user.roleType == roleTypeModel.TeamLeader)
                {
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            User
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Management/AddUpdateUser">
                                    <i class="fa fa-bookmark-o"></i> Add /Edit User
                                </a>
                            </li>
                            <li>
                                <a href="~/Management/Designations">
                                    <i class="fa fa-user"></i> Add/Edit Designation
                                </a>
                            </li>
                            <li>
                                <a href="~/Dashboard/ChangePassword">
                                    <i class="fa fa-puzzle-piece"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Project
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Project/ProjectList">
                                    <i class="fa fa-bookmark-o"></i> Project List
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddUpdateProject">
                                    <i class="fa fa-user"></i> Add /Edit Project
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddProjectAddendumDetails">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Addendum
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddWorkingHoursOfProjectBeforePMS">
                                    <i class="fa fa-puzzle-piece"></i> Add working hours of project before PMS
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/ProjectTaskCategories">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Project Task Category
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/PaymentRelease">
                                    <i class="fa fa-credit-card"></i> Add Payment
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Client
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Client/Clients">
                                    <i class="fa fa-bookmark-o"></i> Add /Edit Client
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Report
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/EmployeeDailyStatusReport/EmployeeReport">
                                    <i class="fa fa-user"></i> Employee report
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/AddEmployeeDailyStatusReport">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Status Report
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/AddDailyStatusReportByTeamLeader">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Status report of employee
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/TeamLeaderFilledEmployeeDailyStatusReportDetails">
                                    <i class="fa fa-puzzle-piece"></i> Employee DSR filled by Team Leader
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true">
                            Others
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 500px;">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Network & Hardware Issue</h3>
                                                </li>
                                                <li>
                                                    <a href="~/NetworkIssues/ReportIssue">Network & Hardware Issue</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Project Bug</h3>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/BugsList">Bugs List</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                }

                @if (UserManager.user.roleType == roleTypeModel.Admin || UserManager.user.roleType == roleTypeModel.HR)
                {
                    <li class="mega-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true">
                            Others
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 700px;">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Feedback</h3>
                                                </li>
                                                <li>
                                                    <a href="~/Feedback/Feedback">Add/Edit Feedback</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Network & Hardware issue</h3>
                                                </li>
                                                <li>
                                                    <a href="~/NetworkIssues/ReportIssue">Network & Hardware Issue</a>
                                                </li>
                                                <li>
                                                    <a href="~/NetworkIssues/NetworkIssueReport">Network & Hardware Issue Graph</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Project Bug</h3>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/ReportBug">Report Bugs</a>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/BugsList">Bugs List</a>
                                                </li>
                                                @*<li>
                                                    <a href="~/Bugs/BugsGraph">Bugs Graph</a>
                                                </li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            User
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Management/AddUpdateUser">
                                    <i class="fa fa-bookmark-o"></i> Add /Edit User
                                </a>
                            </li>
                            <li>
                                <a href="~/Dashboard/ChangePassword">
                                    <i class="fa fa-puzzle-piece"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Department & Designation
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Management/Departments">
                                    <i class="fa fa-bookmark-o"></i> Add/Edit Department
                                </a>
                            </li>
                            <li>
                                <a href="~/Management/Designations">
                                    <i class="fa fa-user"></i> Add /Edit Designation
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Project
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Project/ProjectList">
                                    <i class="fa fa-bookmark-o"></i> Project List
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddUpdateProject">
                                    <i class="fa fa-user"></i> Add /Edit Project
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddProjectAddendumDetails">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Addendum
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddWorkingHoursOfProjectBeforePMS">
                                    <i class="fa fa-puzzle-piece"></i> Add working hours of project before PMS
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/ProjectTaskCategories">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Project Task Category
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/MergeProject">
                                    <i class="fa fa-bookmark-o"></i> Merge Project
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Client
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Client/Clients">
                                    <i class="fa fa-bookmark-o"></i> Add /Edit Client
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Report
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Project/ProjectListReport">
                                    <i class="fa fa-bookmark-o"></i> Project Report
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/EmployeeReport">
                                    <i class="fa fa-user"></i> Employee Report
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-puzzle-piece"></i> Search Report
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/EmployeeTotalWorkingHoursInMonth">
                                    <i class="fa fa-puzzle-piece"></i> Employee Working Hours In Month
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/TeamLeaderFilledEmployeeDailyStatusReportDetails">
                                    <i class="fa fa-puzzle-piece"></i> Employee DSR Filled By Team Leader
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (UserManager.user.roleType == roleTypeModel.ProjectManager)
                {
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            User
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Management/AddUpdateUser">
                                    <i class="fa fa-bookmark-o"></i> Add /Edit User
                                </a>
                            </li>
                            <li>
                                <a href="~/Dashboard/ChangePassword">
                                    <i class="fa fa-puzzle-piece"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Project
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Project/ProjectList">
                                    <i class="fa fa-bookmark-o"></i> Project List
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddUpdateProject">
                                    <i class="fa fa-user"></i> Add /Edit Project
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddProjectAddendumDetails">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Addendum
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/AddWorkingHoursOfProjectBeforePMS">
                                    <i class="fa fa-puzzle-piece"></i> Add working hours of project before PMS
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/ProjectTaskCategories">
                                    <i class="fa fa-puzzle-piece"></i> Add /Edit Project Task Category
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/MergeProject">
                                    <i class="fa fa-bookmark-o"></i> Merge Project
                                </a>
                            </li>
                            <li>
                                <a href="~/Project/PaymentRelease">
                                    <i class="fa fa-credit-card"></i> Add Payment
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Client
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Client/Clients">
                                    <i class="fa fa-bookmark-o"></i> Add /Edit Client
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Manage Report
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="~/Project/ProjectListReport">
                                    <i class="fa fa-bookmark-o"></i> Project Report
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/EmployeeReport">
                                    <i class="fa fa-user"></i> Employee Report
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-puzzle-piece"></i> Search Report
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/EmployeeTotalWorkingHoursInMonth">
                                    <i class="fa fa-puzzle-piece"></i> Employee Working Hours In Month
                                </a>
                            </li>
                            <li>
                                <a href="~/EmployeeDailyStatusReport/TeamLeaderFilledEmployeeDailyStatusReportDetails">
                                    <i class="fa fa-puzzle-piece"></i> Employee DSR Filled By Team Leader
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-dropdown" aria-haspopup="true">
                        <a href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true">
                            Others
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 500px;">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Network & Hardware issue</h3>
                                                </li>
                                                <li>
                                                    <a href="~/NetworkIssues/ReportIssue">Network & Hardware Issue</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Project Bug</h3>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/ReportBug">Report Bugs</a>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/BugsList">Bugs List</a>
                                                </li>
                                                <li>
                                                    <a href="~/Bugs/BugsGraph">Bugs Graph</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                }
                
            </ul>
        </div>
        <!-- END MEGA MENU -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
                <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                @if (UserManager.user.roleType == roleTypeModel.Admin || UserManager.user.roleType == roleTypeModel.HR)
                {
                {Html.RenderAction("_notifications", "Home");}
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN INBOX DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                 {Html.RenderAction("_birthdayNotifications", "Home");}
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                }
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        @*<img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg" />*@
                        <i class="fa fa-user" style="font-size:21px"></i>
                        <span class="username username-hide-on-mobile"> @(UserManager.user.FirstName + " " + UserManager.user.LastName )</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="~/Dashboard/ChangePassword">
                                <i class="icon-user"></i> Change Password
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="~/Home/SignOut">
                                <i class="icon-key"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
