@using TaskManagementOsvin.Security;
@if (UserManager.user.roleType == roleType.Employee)
{
    <div id='cssmenu'>
        <ul>
            <li><a href='#'><span>Home</span></a></li>
            <li><a href='#'><span>Change Password</span></a></li>
            <li><a href='#'><span>Project List</span></a></li>
            <li><a href='#'><span>Add/Edit Status Report</span></a></li>
            <li><a href='#'><span>Daily Status Report</span></a></li>
            <li><a href='#'><span>Network and Hardware Issue</span></a></li>
            <li class='last'><a href='#'><span>Project Bug</span></a></li>
        </ul>
    </div>
}
