@model  List<TaskManagementOsvin.Models.EmployeeModel>
<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <span class="badge badge-default"> @Model.Count() </span>
    </a>
    <ul class="dropdown-menu">
        <li class="external">
            <h3>
                <span class="bold">@Model.Count() pending</span> notifications
            </h3>
        </li>
        <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <a href="@Url.Action("AddEmployee", "Management", new { UserId = item.UserId })">
                                <span class="details">
                                    <span class="label label-sm label-icon label-success">
                                        <i class="fa fa-plus"></i>
                                    </span> Fill info of @(item.FirstName + " " + item.LastName)
                                </span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
    </ul>
</li>
